@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1440px;
    }

}

@media (max-width: 1600px) {
}

@media (max-width:1440px) {
    .section_heading h2 {
        font-size: 36px;
        line-height: 52px;
    } 

    #faq_area::after {
        color: " ";
        height: 0;
        width: 0;
        opacity: 0;
        display: none;
    }
}

@media (max-width: 1199px) {
    .banner_slider_content h2 {
        font-size: 48px;
        line-height: 64px;
    }  

    .list_content_box h4 {
        font-size: 20px;
    }

    .project-card-img .overlay-content p {
        display: none;
    }

    .service-content h4 a {
        font-size: 20px;
    }

    .counter_text h2 {
        font-size: 36px;
    }
}

@media (max-width: 992px) {
    .work_card_two {
        margin-top: 0px;
    }
    .work_shape img{
        display: none;
    }

    .work_process_inner {
        background-image: none;
    }

    .about-left_wrapper{
        margin-bottom: 30px;
    }
    .faq_left{
        margin-bottom: 20px;
    }

    .counter_item{
        margin-bottom: 60px;
    }

    .home_blog_card{
        margin-bottom: 30px;
    }

    .project-card-img .overlay-content p {
        display: block;
    }

    .faq-text {
        padding-right: 0px;
    }
}

@media (max-width: 767px) {
  #banner_area .owl-theme .owl-dots {
    display: none;
  } 
  .banner_slider_content{
    text-align: center;
  }
  .banner_slider_content h2 {
    font-size: 42px;
    line-height: 60px;
}
.banner_slider_content p {
    width: 100%;
}
.banner_slider_content h2 {
    padding: 10px 0 18px 0;
}
.background_bg {
    padding: 150px 0;
}

.long-img img{
    display: none;
}
.section_heading h2 {
    font-size: 30px;
    line-height: 42px;
}

.section_heading h5 {
    padding-bottom: 10px;
}
}

@media (max-width: 576px) {
    .banner_slider_content h2 {
        font-size: 30px;
        line-height: 48px;
    }  
    .faq-text .accordion-item .accordion-header .accordion-button {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
 .about_exprience_area h3 {
    font-size: 42px;
}   
.about_exprience_area {
    width: 200px;
}
.about-content-bottom {
    flex-wrap: wrap;
}
.list_content_box {
    width: 100%;
}
.about-content-list ul li{
    flex-wrap: wrap;
}
}

@media (max-width: 361px) {}